{% load static %}
<html >
<head>
        <title>DAKHLI Bader Eddine </title>
{% block stylesheetB %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bn.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/cv.css' %}">
<!-- Fontes -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- bar loutany -->
<link rel="stylesheet" type="text/css" href="{% static 'css/sst.css' %}">

            {% endblock %}

{% block stylesheet %}
       
               {% endblock %}
</head>
<body>
    {% block body %}
   
    

    {% block content %}

    {% endblock %}


    {% endblock %}
<footer class="kad"> 
		<p>DAKHLI</p>
		<p></p>
		<div class="social">
			<a href="https://facebook.com/profile.php?id=100085927652268&sk=friends_all"><i class="fab fa-facebook-f"></i></a>
			<a href="https://instagram.com/bader_dine_d?igshid=MzNlNGNkZWQ4Mg=="><i class="fab fa-instagram"></i></a>
			<a href="https://linkedin.com/in/dakhli-bader-eddine"><i class="fab fa-linkedin"></i></a>
			<a href="tel:+21626213858"><i class="fa fa-phone"></i></a>
			<a href="mailto:baderdinedakhli@gmail.com"><i class="fa fa-envelope"></i></a>
		</div>
		<p class="end"></p>
	</footer>
<script src="{%static 'js/jquery-4.js' %}"></script>
<script src="{%static 'js/popper.min.js' %}"></script>
<script src="{%static 'js/vb.js' %}"></script>

</body>
</html>